html, body {
    font-family: "Maven Pro", sans-serif;
    background-color: #c6d2f9;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Maven Pro";
    src: url("/MavenPro-VariableFont_wght.woff2") format('woff');
}
